*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#66e9b2,#ff9900);
    font-family: sans-serif;
    color: white;
}

.container{
    height: 50vh;
    width: 500px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: absolute;
    right: 45px;
}
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
    

.location
{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.weather-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weather{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.icon{
    width: 100px;
    height: 100px;
}

.temperature{
    cursor: pointer;
    transition: 0.3s ease-in;
}