*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
}

h1{
    padding-top: 350px;
    text-align: center;
    color: #800080;
    font-weight: bold;
    font-size: 100px;
}

span{
    font-weight: bold;
    font-size: 75px;
    display: block;
    padding-top: 25px;
    text-align: center;
}

.btn{
    width: 100%;
    
}

button{
    width: auto;
    font-size: 25px;
    padding: 7px; 
    font-family: sans-serif;
    border-radius: 7px;
    cursor: pointer;
    background: transparent;
    transition: 0.5s ease-in;
}

button:hover{
    color: antiquewhite;
    background-color:black;
}
.btn{
    padding: 25px;
    text-align: center;
}