*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(60deg,#57d36c59, #e775a559);
}

header
{
    min-height: 10vh;
    display: grid;
    place-items: center;
    color: rgb(78, 70, 65);
    font-size: 30px;
}

.underline{
    height: 3px;
    width: 10rem;
    background-color: rgb(104, 63, 63);
}
.appendNotes{
    float: right;
    margin: 20px;
}

.add-btn{
    width: 7rem;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(78, 70, 65);
    border-radius: 7px;
    background-color: antiquewhite;
    cursor: pointer;
}

.notes{
    display: flex;
    flex-wrap:wrap;
    width:90%;
    margin: 0 auto;
    margin-top: 100px;
}

.note{
    width: 30%;
    padding: 10px;
    display: flex;
}

.note-content{
    color: rgb(78, 70, 65);
    background-color: blanchedalmond;
    font-size: 20px;
    resize: none;
    transition: all 0.5s ease-in;
    text-align:left;
    border: 1px solid black;
    border-radius: 7px;
    height: 250px;
    width: 100%;
    padding: 15px;

}

.delete-note
{
    height: 23px;
    width: 17px;
    transform: translate(-23px,2px);
    margin: 2px;
    border: none;
    background: transparent;
}

.delete-note:hover{
    color: red;
}

@media screen and (max-width: 800px) {
    .notes{
        display: block;
        width:90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .note{
        width: 600px;
        padding-left: 45px;
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .notes{
        display: block;
        width:90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .note{
        width: 100%;
        padding-left: 45px;
        display: flex;
    }
}
